.card {
    box-shadow: 1px 1px 5px #00000045;
    border-radius: .5rem;
}

.form-control:focus {
    box-shadow: none;
}

.form-select:focus {
    box-shadow: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000c7;
}

.btn {
    border-radius: .2rem;
}

.navbar {
    box-shadow: 1px 1px 5px #0000003d;
}
